.ac-page-content {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
}
.ac-page-container {
    position: absolute;
    top: 50px;
    bottom: 0px;
    width: 100%;
    background-color: #bebebe;
}
.ac-adminsdata-container {
    position: absolute;
    top: 0px;
    bottom: 50px;
    width: 100%;
    text-align: center;
    background-color: #f0f0f0;
    overflow: auto;
}
.ac-adminsdata-footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #e4e4e4;
}
.ac-hide {
    display: none;
}